/*wsui-playpause Start*/
$wsui-playpause-options: (
  color: #f00,
) !default;

.wsui-playpause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 7.4em;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 3.7em 0 3.7em 6em;

  &.is-paused {
    border-style: double;
    border-width: 0px 0 0px 6em;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
/*wsui-playpause End*/
